body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    background-color: #301c41;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Contenedor del formulario */
.form-container {
    width: 100%;
    max-width: 400px; /* Limita el ancho */
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Estilo para el encabezado */
h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Contenedor para los botones sociales */
.social-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.social {
    width: 40px;
    height: 40px;
    background-color: #3b5998; /* Facebook */
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
}

.social:hover {
    background-color: #2d4373;
}

/* Estilo de los enlaces sociales (Google y LinkedIn) */
.social-container .fab.fa-google-plus-g {
    background-color: #db4437; /* Google */
}

.social-container .fab.fa-linkedin-in {
    background-color: #0077b5; /* LinkedIn */
}

/* Estilo del formulario */
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4c1c70;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #423495;
}

/* Estilo para el texto "usa tu email para registrarte" */
span {
    font-size: 14px;
    color: #777;
    margin: 10px 0;
}
